* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: DMSans-reg;
  src: url(/DMSans-Regular.ttf);
}

@font-face {
  font-family: DMSans-med;
  src: url(/DMSans-Medium.ttf);
}

@font-face {
  font-family: DMSans-bold;
  src: url(/DMSans-Bold.ttf);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.bg-header, .bg-footer {
  position: absolute;
  background-color: #4134F7;
}

.bg-header {
  width: 23em;
  height: 100px;
  top: 0;
  border-radius: 28px 28px 0 0;
}

.bg-footer {
  width: 22.5em;
  bottom: 0;
  border-radius: 0 0 28px 28px;
}

article {
  position: relative;
  border: 2px solid black;
  display: grid;
  place-items: center;
  width: 23em;
  border-radius: 28px;
  text-align: center;
}

img, section, p, a {
  position: relative;
  z-index: 1;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .2em;

  svg {
    stroke: #62748E;
  }
}

img {
  display: block;
  margin: auto;
  width: 6.5em;
  height: 6.5em;
  border-radius: 50%;
  margin-top: 2.5em;
  border: 5px solid white;
}

section {
  display: grid;
  gap: 0.2em;

  h1 {
    font-family: DMSans-bold;
    font-size: 1.33em;
  }

  p {
    font-family: DMSans-med;
    color: #4134F7;
    padding: 0;
  }
}

span {
  font-family: DMSans-med;
  color: #62748E;
}

a {
  border: 1px solid black;
  display: grid;
  width: 2.5em;
  height: 2.5em;
  place-content: center;
  border-radius: 10px;
  margin-bottom: 3em;

  svg {
    stroke: black;
  }
}

p {
  font-family: DMSans-reg;
  color: #62748E;
  text-align: left;
  padding-top: 1.5em;
  padding-right: 1em;
  padding-bottom: 1.5em;
  padding-left: 1em;
}